.container{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    margin: 0;
    padding: 0;
}

.cuadro{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select{
    color: black;
    width: 200px;
}

.selected{
    display: flex;
}

.selectedButton{
    padding: 0;
    margin: 0;
    background-color: transparent;
    width: 20px;
    height: fit-content;
}

.countryName{
    margin: 0;
}