.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/481285.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.detail {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.country {
    width: 350px;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(84, 84, 84, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
}


.activitiesContainer {
    height: fit-content;
    width: 450px;
    background-color: rgba(84, 84, 84, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
}

.activities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.activity {
    padding: 20px;
}

.time {
    position: absolute;
    display: flex;
    width: 100vw;
}

.watch {
    padding-left: 100px;
}

.imgContainer {
    border: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.img {
    border: 0;
    width: 300px;
    height: 300px;
     border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.769) 70%);
}