.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/481285.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
}

.detail {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.country {
    width: 50vw;
    height: calc(100vh - 150px);
    height: fit-content;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.countryCar{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(0, 110, 130, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


.activitiesContainer {
    height: fit-content;
    width: 50vw;
}

.activitiesTitle {
    width: 50vw;
    height: fit-content;
    border-radius: 20px;
    background-color: rgba(0, 110, 130, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

.activities {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25em;
    background-color: rgba(84, 84, 84, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    width: fit-content;
}

.activityNameContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 20px;
    width: 10em;
    border-radius: 20px;
    background-color: rgba(0, 110, 130, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.button{
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.4);
    width: 25px;
    height: 50px;
    border-radius: 0 20px 20px 0;
}

.time {
    position: absolute;
    display: flex;
    width: 100vw;
    margin-top: 30px;
}

.watch {
    padding-left: 100px;
}

.imgContainer {
    border: 0;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.img {
    border: 0;
    width: 300px;
    height: 300px;
     border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.769) 70%);
}

.name {
    border-radius: 20px;
    background-color: rgba(0, 110, 130, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.secondary {
    color: rgb(192, 192, 192);
    font-style: italic;
}

.currency {
    color: rgb(192, 192, 192);
    font-style: normal;
}