.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25em;
    background-color: rgba(84, 84, 84, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 19em;
    margin: 20px 20px 20px 20px;
}

.card:hover {
    transform: scale(1.02);
    transition-duration: 0.1s;
}

.nameContainer{
    width: 19em;
    border-radius: 20px;
    background-color: rgba(0, 110, 130, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-bottom: 20px;
}

.name {
    font-size: 1.4em;
}

.continent {
    font-style: italic;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

/* .img {
    width: 18.75em;
    height: 9.375em;
    margin: 0;
    border-radius: 20px;
} */

.imgContainer {
    border: 0;
    width: 137px;
    height: 137px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.img {
    border: 0;
    width: 137px;
    height: 137px;
     border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.769) 70%);
}