.card {
    padding-bottom: 1.25em;
    background-color: rgba(27, 135, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
}

.img {
    padding-top: 3.125em;
    width: 18.75em;
    height: 9.375em;
    margin: 0;
}

.name {
    font-size: 1.6em;
    height: 50px;
}

.continent {
    font-size: 1.4em;
    padding-top: 1.25em;
}