.card {
    padding-bottom: 1.25em;
    background-color: rgba(84, 84, 84, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 19em;
    margin: 20px 20px 0px 20px;
}

.card:hover {
    transform: scale(1.02);
    transition-duration: 0.5s;
}

.img {
    width: 18.75em;
    height: 9.375em;
    margin: 0;
    border-radius: 20px;
}

.name {
    font-size: 1.6em;
    height: 50px;
}

.continent {
    font-size: 1.4em;
    padding-top: 1.25em;
    padding-bottom: 1.125em;
}