.container{
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/34254-espacio.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gif{
    background-image: url(../../assets/YjjG.gif);
    width: 17rem;
    height: 17rem;
    background-size: contain;
    background-repeat: no-repeat;
}