.container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    z-index: 100;
    overflow: hidden;
}

.elements {
    display: flex;
    flex-direction: column;
}
