.container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100vw;
    z-index: 100;
    overflow: hidden;
    height: 100px;
    background: linear-gradient(rgba(0, 110, 130, 0.5),rgba(0, 110, 130, 0.5), black);
}

.elements {
    display: flex;
    flex-direction: column;
}
