.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif{
    background-image: url(../../assets/YjjG.gif);
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}